body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

#header {
    font-size: 24px;
    color: #F9FAF8;
}

.header_section {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
    align-items: center;
}

a {
    color: #E5E7EB;
    text-decoration: none;
    font-size: 18px;
}

.header_links {
    display: flex;
    gap: 30px;
}
.hero_space {
    display: flex;
    background-color: #1F2937;
    padding: 50px 100px;
    gap: 30px;
    flex: 1;
    align-items: center;
    justify-content: space-evenly;
}

.hero_info {
    display: flex;
    flex-direction: column;
}
button {
    padding: 10px 24px;
    width: 100px;
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 15px;
    border-color: transparent;
    cursor: pointer;
}
#hero_text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

p {
    font-size: 18px;
    color: #E5E7EB;
}

.information_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 50px 100px;
}

.square {
    width: 200px;
    height: 200px;
    border: 2px solid #3882F6;
    border-radius: 15px;

}
#info_header {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.info_text {
    width: 200px;
    color: #1F2937;
    text-align: center;
}

.info {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.infos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;;
}
.quote_section {
    background-color: #E5E7EB;
    padding: 150px 300px;
}
#quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color:#1F2937;
    text-align: left;
}
#signature {
    text-align: right;
    font-size: 18px;
    font-weight: bold;
    color: #1F2937;
}
.call_to_action {
    padding: 50px 100px;
}
#blue_rectangle{
    background-color:#3882F6;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#call_to_action_header {
    font-weight: bold;
    color: #F9FAF8;
    font-size: 18px;
}
#call_to_action_small {
    color: #F9FAF8;
    font-weight: lighter;
}
#call_to_action_button {
    border: solid;
    border-color: #F9FAF8;
    box-shadow: none;
}